<h1>Bine ati venit, Admin</h1>
<form action="/adaugare-produs" method="post">
    <label for="nid">ID produs</label>
    <input type="text" id="nid" name="nid" >
    <br><br><br>
    <label for="nprodus">Nume produs</label>
    <input type="text" id="nprodus" name="nprodus" >
    <br><br><br>

    <label for="pprodus">Pret produs</label>
    <input type="text" id="pprodus" name="pprodus">
    <br><br><br>
    <input type="submit" value="Submit">
  </form>