<!-- <% if(cookies["username"]!=null){ %>
    <h2 id="bine-ai-venit">Bine ai venit, <%= cookies["username"] %>
    </h2>
    <% } %>
    <% if(cookies["tipPiele"]!=null){ %>
        <h2 id="bine-ai-venit">Tip piele: <%= cookies["tipPiele"] %>
        </h2>
        <% } %> -->
