header {
    /* background-color: #bc8f8f; */
    background-image: linear-gradient(#f7a7b4, #fad1d8);
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #000000;
    text-decoration-style: wavy;
    margin: 0;
}

/* header img{
    width: 700px;
    height: auto;
} */

.productImages {
    width: 270px;
    height: auto;
}

.tabelProduse form button {
    height: 30px;
    width: 120px;
    background-color: pink;
    border-radius: 5px;
}

.imagini-vizualizare-cos {
    width: 150px;
    height: 150px;
}

.productName {
    font-weight: bold;
    font-style: italic;
}

.tabelProduse form button:hover {
    background-color: rgb(253, 109, 133);
    padding: 5px 5px;
    font-size: 15px;
    margin: 4px 2px;
}

nav {
    padding: 20px;
    background: radial-gradient(#f77f93,#fad1d8);
    text-align: center;
}

.butonFormular{
    background-color:#f77f93;
    width:100px;
    text-align: center;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 15px;
    margin: 4px 2px;
}
.butonCos{
    text-align: center;
}

a:link {
    color: #3d0216;
}

a:visited {
    color: #3d0216;
}

a:hover {
    color: #3d0216;
}

a:active {
    color: #ff69b4;
}

nav a {
    font-size: large;
    font-style: italic;
}

/* h2::first-letter {
    font-size: xx-large;
} */

aside {
    /* float:right; */
    /* background-color: #955858; */
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-style: italic;
    text-align: center;
}

body {
    background-color: #fad1d8;
    margin: 0;
    padding: 0;
    /*background attachemtn*/
}

/* canvas{
    background-color: #ffffff;
    border:1px solid #000000;
} */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 21px 100px 130px 1fr 1fr 50px;
    /* gap:10px;
    padding:10px;
    box-sizing:border-box; */
}

.container div {
    /* padding:10px;
    border:1px solid #000000 */
}
table{
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    height: 50px;
}

.autentificare button {
    float: right;
    background-color: rgb(250, 177, 189);
}

#butonDelogare{
    background-color:#f77f93;
    width:100px;
    text-align: center;
    border-radius: 4px;
    padding: 5px 5px;
    font-size: 15px;
    margin: 4px 2px;
}

.autentificare {
    background-image: linear-gradient(#faa7b5, #f7a7b4);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
}

.header {
    grid-column-start: 1;
    /* specify line of start */
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.nav {
    grid-column-start: 1;
    /* specify line of start */
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.body {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* .aside{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start:2;
    grid-row-end:4;

} */

#bine-ai-venit {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#index {
    text-align: center;
}

#text-link {
    font-size: 25px;
}

.text-link {
    background-color: purple;
    border-radius: 4px;
}

#raspCorect {
    color: #05635e;
    text-align: center;
}

.tabelProduse {
    text-align: center;
    margin: 0 auto;
}

.nav-bar-text {
    color: #ffefd5;
}

.labelProduseTabel {
    text-align: center;
}

.tabelProduse2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#formularLogin{
    border: 3px solid rgb(250, 209, 216);
    border-radius: 20px;
    text-align: center;
    width: 700px;
    height: 100%;
    margin: 0 auto;
    background-color: #fab5b5;
    background: radial-gradient(#f77f93,#fad1d8);
}

#formularProfil{
    border: 3px solid rgb(250, 209, 216);
    border-radius: 20px;
    text-align: center;
    width: 700px;
    height: 100%;
    margin: 0 auto;
    background-color: #fab5b5;
    background: radial-gradient(#f77f93,#fad1d8);
}
.quizAnswers{
    font-size: 20px;
    font-weight: bolder;
}
.intrebareChestionar{
    font-size: 20px;
    font-weight: bolder;
}
#formular-chestionar {
    border: 3px solid #fad1d8;
    border-radius: 4px;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    text-decoration: dashed;
    background: radial-gradient(#f77f93,#fad1d8);
}

.footer {
    background-image: linear-gradient(#fad1d8, #f7a7b4);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
}


#mesajEroare {
    color: red;
}